{
  "rules": {
    "semi": ["error", "never"],
    "@typescript-eslint/semi": "off",
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "react/jsx-props-no-spreading": ["error", {"custom": "ignore"}],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", "tsx"] }],
    "linebreak-style": 0
  },
  "extends": ["airbnb", "airbnb-typescript", "airbnb/hooks", "prettier"],
  "parserOptions": {
    "project": ["**/tsconfig.json"]
  },
  "plugins": ["jest"],
  "env": {
    "jest/globals": true
  },
}
