{
  "rules": {
    "semi": ["error", "never"],
    "@typescript-eslint/semi": "off"
  },
  "extends": ["airbnb", "airbnb-typescript", "airbnb/hooks"],
  "parserOptions": {
      "project": "./tsconfig.json"
  }
}
