.input {
    display: block;
    font-size: 1rem;
    border: 1px solid var(--dark-gray);
    border-radius: var(--border-radius);
    padding: 0.5em 0.8em;
    background: var(--light-gray);
}

.label {
    display: block;
}
