:root {
    --primary-accent: #1c90f4;
    --light-gray: #f2f6fc;
    --dark-gray: #aeb2ba;
    --black: #000000;
    --white: #ffffff;
    --error: #f14747;

    --border-radius: 6px;
    --transition: 0.3s ease-in-out;
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
