:root {
    --primary-accent: #1c90f4;
    --light-gray: #f2f6fc;
    --dark-gray: #aeb2ba;
    --black: #000000;
    --white: #ffffff;

    --border-radius: 6px;
    --transition: 0.3s ease-in-out;
}
